## Deep learning classification model, using tabular input dat

In [2]:
# Sect 19.4.2 
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

# Import our input dataset
attrition_df = pd.read_csv('HR-Employee-Attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [3]:
# Generate our categorical variable names list
attrition_cat = attrition_df.dtypes[attrition_df.dtypes == "object"].index.tolist()

In [4]:
attrition_cat

['Attrition',
 'BusinessTravel',
 'Department',
 'EducationField',
 'Gender',
 'JobRole',
 'MaritalStatus',
 'Over18',
 'OverTime']

In [5]:
# Check the number of unique values in each column
attrition_df[attrition_cat].nunique()

Attrition         2
BusinessTravel    3
Department        3
EducationField    6
Gender            2
JobRole           9
MaritalStatus     3
Over18            1
OverTime          2
dtype: int64

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(attrition_df[attrition_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(attrition_cat)
encode_df.head()

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [7]:
# Merge one-hot encoded features and drop the originals
attrition_df = attrition_df.merge(encode_df,left_index=True, right_index=True)
attrition_df = attrition_df.drop(attrition_cat,1)
attrition_df.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [8]:
# To separate features and target, as well as perform training/test split

# Split our preprocessed data into our features and target arrays
y = attrition_df["Attrition_Yes"].values
X = attrition_df.drop(["Attrition_Yes","Attrition_No"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [9]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [10]:
# Sect 19.4.4 DL Model Design

# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 448
_________________________________________________________________
dense_1 (Dense)              (None, 5)                 45
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 6
=================================================================
Total params: 499
Trainable params: 499
Non-trainable params: 0
_________________________________________________________________

In [11]:
# Compile the model and define the loss and accuracy metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [12]:
# Sect 19.4.5 Train and Evaluate the Model
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100)

Epoch 1/100
35/35 [==============================] - 0s 873us/step - loss: 72.9464 - accuracy: 0.8276
Epoch 2/100
35/35 [==============================] - 0s 856us/step - loss: 22.5522 - accuracy: 0.8276
Epoch 3/100
35/35 [==============================] - 0s 842us/step - loss: 12.1705 - accuracy: 0.8167
Epoch 4/100
35/35 [==============================] - 0s 818us/step - loss: 6.5617 - accuracy: 0.6878
Epoch 5/100
35/35 [==============================] - 0s 826us/step - loss: 3.5131 - accuracy: 0.5163
Epoch 6/100
35/35 [==============================] - 0s 826us/step - loss: 2.1407 - accuracy: 0.3339
Epoch 7/100
35/35 [==============================] - 0s 826us/step - loss: 1.6208 - accuracy: 0.2822
Epoch 8/100
35/35 [==============================] - 0s 826us/step - loss: 1.4407 - accuracy: 0.5336
Epoch 9/100
35/35 [==============================] - 0s 826us/step - loss: 1.2725 - accuracy: 0.8276
Epoch 10/100
35/35 [==============================] - 0s 1ms/step - loss: 1.1415 - accuracy: 0.8276
Epoch 11/100
35/35 [==============================] - 0s 1ms/step - loss: 1.0062 - accuracy: 0.8276
Epoch 12/100
35/35 [==============================] - 0s 1ms/step - loss: 0.9318 - accuracy: 0.8276
Epoch 13/100
35/35 [==============================] - 0s 798us/step - loss: 0.8725 - accuracy: 0.8276
Epoch 14/100
35/35 [==============================] - 0s 798us/step - loss: 0.8597 - accuracy: 0.8276
Epoch 15/100
35/35 [==============================] - 0s 769us/step - loss: 0.7949 - accuracy: 0.8276
Epoch 16/100
35/35 [==============================] - 0s 940us/step - loss: 0.7382 - accuracy: 0.8276
Epoch 17/100
35/35 [==============================] - 0s 741us/step - loss: 0.7067 - accuracy: 0.8276
Epoch 18/100
35/35 [==============================] - 0s 741us/step - loss: 0.6835 - accuracy: 0.8276
Epoch 19/100
35/35 [==============================] - 0s 912us/step - loss: 0.6596 - accuracy: 0.8276
Epoch 20/100
35/35 [==============================] - 0s 912us/step - loss: 0.6377 - accuracy: 0.8276
Epoch 21/100
35/35 [==============================] - 0s 769us/step - loss: 0.6210 - accuracy: 0.8276
Epoch 22/100
35/35 [==============================] - 0s 798us/step - loss: 0.6045 - accuracy: 0.8276
Epoch 23/100
35/35 [==============================] - 0s 741us/step - loss: 0.5938 - accuracy: 0.8276
Epoch 24/100
35/35 [==============================] - 0s 912us/step - loss: 0.5789 - accuracy: 0.8276
Epoch 25/100
35/35 [==============================] - 0s 769us/step - loss: 0.5662 - accuracy: 0.8276
Epoch 26/100
35/35 [==============================] - 0s 883us/step - loss: 0.5570 - accuracy: 0.8276
Epoch 27/100
35/35 [==============================] - 0s 769us/step - loss: 0.5479 - accuracy: 0.8276
Epoch 28/100
35/35 [==============================] - 0s 912us/step - loss: 0.5403 - accuracy: 0.8276
Epoch 29/100
35/35 [==============================] - 0s 741us/step - loss: 0.5328 - accuracy: 0.8276
Epoch 30/100
35/35 [==============================] - 0s 912us/step - loss: 0.5260 - accuracy: 0.8276
Epoch 31/100
35/35 [==============================] - 0s 769us/step - loss: 0.5180 - accuracy: 0.8276
Epoch 32/100
35/35 [==============================] - 0s 769us/step - loss: 0.5124 - accuracy: 0.8276
Epoch 33/100
35/35 [==============================] - 0s 1ms/step - loss: 0.5091 - accuracy: 0.8276
Epoch 34/100
35/35 [==============================] - 0s 1ms/step - loss: 0.5060 - accuracy: 0.8276
Epoch 35/100
35/35 [==============================] - 0s 940us/step - loss: 0.5031 - accuracy: 0.8276
Epoch 36/100
35/35 [==============================] - 0s 883us/step - loss: 0.5003 - accuracy: 0.8276
Epoch 37/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4977 - accuracy: 0.8276
Epoch 38/100
35/35 [==============================] - 0s 883us/step - loss: 0.4953 - accuracy: 0.8276
Epoch 39/100
35/35 [==============================] - 0s 855us/step - loss: 0.4930 - accuracy: 0.8276
Epoch 40/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4908 - accuracy: 0.8276
Epoch 41/100
35/35 [==============================] - 0s 997us/step - loss: 0.4888 - accuracy: 0.8276
Epoch 42/100
35/35 [==============================] - 0s 969us/step - loss: 0.4868 - accuracy: 0.8276
Epoch 43/100
35/35 [==============================] - 0s 940us/step - loss: 0.4850 - accuracy: 0.8276
Epoch 44/100
35/35 [==============================] - 0s 798us/step - loss: 0.4833 - accuracy: 0.8276
Epoch 45/100
35/35 [==============================] - 0s 798us/step - loss: 0.4819 - accuracy: 0.8276
Epoch 46/100
35/35 [==============================] - 0s 798us/step - loss: 0.4804 - accuracy: 0.8276
Epoch 47/100
35/35 [==============================] - 0s 997us/step - loss: 0.4790 - accuracy: 0.8276
Epoch 48/100
35/35 [==============================] - 0s 855us/step - loss: 0.4777 - accuracy: 0.8276
Epoch 49/100
35/35 [==============================] - 0s 826us/step - loss: 0.4764 - accuracy: 0.8276
Epoch 50/100
35/35 [==============================] - 0s 855us/step - loss: 0.4753 - accuracy: 0.8276
Epoch 51/100
35/35 [==============================] - 0s 826us/step - loss: 0.4742 - accuracy: 0.8276
Epoch 52/100
35/35 [==============================] - 0s 912us/step - loss: 0.4732 - accuracy: 0.8276
Epoch 53/100
35/35 [==============================] - 0s 855us/step - loss: 0.4722 - accuracy: 0.8276
Epoch 54/100
35/35 [==============================] - 0s 883us/step - loss: 0.4713 - accuracy: 0.8276
Epoch 55/100
35/35 [==============================] - 0s 855us/step - loss: 0.4704 - accuracy: 0.8276
Epoch 56/100
35/35 [==============================] - 0s 997us/step - loss: 0.4696 - accuracy: 0.8276
Epoch 57/100
35/35 [==============================] - 0s 883us/step - loss: 0.4689 - accuracy: 0.8276
Epoch 58/100
35/35 [==============================] - 0s 883us/step - loss: 0.4682 - accuracy: 0.8276
Epoch 59/100
35/35 [==============================] - 0s 883us/step - loss: 0.4675 - accuracy: 0.8276
Epoch 60/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4669 - accuracy: 0.8276
Epoch 61/100
35/35 [==============================] - 0s 912us/step - loss: 0.4664 - accuracy: 0.8276
Epoch 62/100
35/35 [==============================] - 0s 940us/step - loss: 0.4658 - accuracy: 0.8276
Epoch 63/100
35/35 [==============================] - 0s 912us/step - loss: 0.4654 - accuracy: 0.8276
Epoch 64/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4649 - accuracy: 0.8276
Epoch 65/100
35/35 [==============================] - 0s 883us/step - loss: 0.4645 - accuracy: 0.8276
Epoch 66/100
35/35 [==============================] - 0s 883us/step - loss: 0.4641 - accuracy: 0.8276
Epoch 67/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4637 - accuracy: 0.8276
Epoch 68/100
35/35 [==============================] - 0s 883us/step - loss: 0.4634 - accuracy: 0.8276
Epoch 69/100
35/35 [==============================] - 0s 883us/step - loss: 0.4631 - accuracy: 0.8276
Epoch 70/100
35/35 [==============================] - 0s 912us/step - loss: 0.4628 - accuracy: 0.8276
Epoch 71/100
35/35 [==============================] - 0s 883us/step - loss: 0.4626 - accuracy: 0.8276
Epoch 72/100
35/35 [==============================] - 0s 969us/step - loss: 0.4623 - accuracy: 0.8276
Epoch 73/100
35/35 [==============================] - 0s 912us/step - loss: 0.4621 - accuracy: 0.8276
Epoch 74/100
35/35 [==============================] - 0s 883us/step - loss: 0.4618 - accuracy: 0.8276
Epoch 75/100
35/35 [==============================] - 0s 940us/step - loss: 0.4617 - accuracy: 0.8276
Epoch 76/100
35/35 [==============================] - 0s 826us/step - loss: 0.4615 - accuracy: 0.8276
Epoch 77/100
35/35 [==============================] - 0s 912us/step - loss: 0.4613 - accuracy: 0.8276
Epoch 78/100
35/35 [==============================] - 0s 912us/step - loss: 0.4612 - accuracy: 0.8276
Epoch 79/100
35/35 [==============================] - 0s 826us/step - loss: 0.4611 - accuracy: 0.8276
Epoch 80/100
35/35 [==============================] - 0s 826us/step - loss: 0.4609 - accuracy: 0.8276
Epoch 81/100

35/35 [==============================] - 0s 798us/step - loss: 0.4608 - accuracy: 0.8276
Epoch 82/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4607 - accuracy: 0.8276
Epoch 83/100
35/35 [==============================] - 0s 798us/step - loss: 0.4606 - accuracy: 0.8276
Epoch 84/100
35/35 [==============================] - 0s 798us/step - loss: 0.4605 - accuracy: 0.8276
Epoch 85/100
35/35 [==============================] - 0s 769us/step - loss: 0.4604 - accuracy: 0.8276
Epoch 86/100
35/35 [==============================] - 0s 855us/step - loss: 0.4604 - accuracy: 0.8276
Epoch 87/100
35/35 [==============================] - 0s 826us/step - loss: 0.4603 - accuracy: 0.8276
Epoch 88/100
35/35 [==============================] - 0s 798us/step - loss: 0.4602 - accuracy: 0.8276
Epoch 89/100
35/35 [==============================] - 0s 798us/step - loss: 0.4601 - accuracy: 0.8276
Epoch 90/100
35/35 [==============================] - 0s 712us/step - loss: 0.4601 - accuracy: 0.8276
Epoch 91/100
35/35 [==============================] - 0s 741us/step - loss: 0.4600 - accuracy: 0.8276
Epoch 92/100
35/35 [==============================] - 0s 855us/step - loss: 0.4600 - accuracy: 0.8276
Epoch 93/100
35/35 [==============================] - 0s 912us/step - loss: 0.4599 - accuracy: 0.8276
Epoch 94/100
35/35 [==============================] - 0s 741us/step - loss: 0.4599 - accuracy: 0.8276
Epoch 95/100
35/35 [==============================] - 0s 798us/step - loss: 0.4599 - accuracy: 0.8276
Epoch 96/100
35/35 [==============================] - 0s 940us/step - loss: 0.4598 - accuracy: 0.8276
Epoch 97/100
35/35 [==============================] - 0s 741us/step - loss: 0.4598 - accuracy: 0.8276
Epoch 98/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4598 - accuracy: 0.8276
Epoch 99/100
35/35 [==============================] - 0s 883us/step - loss: 0.4598 - accuracy: 0.8276
Epoch 100/100
35/35 [==============================] - 0s 969us/step - loss: 0.4597 - accuracy: 0.8276

In [13]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

12/12 - 0s - loss: 0.3910 - accuracy: 0.8723
Loss: 0.3910103142261505, Accuracy: 0.8722826242446899