## Random Forest vs. Deep Learning Model

In [1]:
# Sect 19.5.4 To compare the implementation and performance of a random forest model versus a deep learning model.
#  >36,000 rows, and 16 feature columns. To build a classifier that can predict whether or not a loan will or 
#   will not be paid provided their current loan status and metrics.

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import tensorflow as tf

# Import our input dataset
loans_df = pd.read_csv('loan_status.csv')
loans_df.head()

,Loan_Status,Current_Loan_Amount,Term,Credit_Score,Annual_Income,Years_in_current_job,Home_Ownership,Purpose,Monthly_Debt,Years_of_Credit_History,Months_since_last_delinquent,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,Bankruptcies,Tax_Liens
0,Fully_Paid,99999999,Short_Term,741.0,2231892.0,8_years,Own_Home,Debt_Consolidation,29200.53,14.9,29.0,18,1,297996,750090.0,0.0,0.0
1,Fully_Paid,217646,Short_Term,730.0,1184194.0,<_1_year,Home_Mortgage,Debt_Consolidation,10855.08,19.6,10.0,13,1,122170,272052.0,1.0,0.0
2,Fully_Paid,548746,Short_Term,678.0,2559110.0,2_years,Rent,Debt_Consolidation,18660.28,22.6,33.0,4,0,437171,555038.0,0.0,0.0
3,Fully_Paid,99999999,Short_Term,728.0,714628.0,3_years,Rent,Debt_Consolidation,11851.06,16.0,76.0,16,0,203965,289784.0,0.0,0.0
4,Fully_Paid,99999999,Short_Term,740.0,776188.0,<_1_year,Own_Home,Debt_Consolidation,11578.22,8.5,25.0,6,0,134083,220220.0,0.0,0.0

In [3]:
# make sure that none of our categorical variables require bucketing

# Generate our categorical variable list
loans_cat = loans_df.dtypes[loans_df.dtypes == "object"].index.tolist()

# Check the number of unique values in each column
loans_df[loans_cat].nunique()

Loan_Status              2
Term                     2
Years_in_current_job    11
Home_Ownership           4
Purpose                  7
dtype: int64

In [4]:
# Check the unique value counts to see if binning is required
loans_df.Years_in_current_job.value_counts()

10+_years    13149
2_years       3225
3_years       2997
<_1_year      2699
5_years       2487
4_years       2286
1_year        2247
6_years       2109
7_years       2082
8_years       1675
9_years       1467
Name: Years_in_current_job, dtype: int64

In [5]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(loans_df[loans_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(loans_cat)
encode_df.head()

,Loan_Status_Fully_Paid,Loan_Status_Not_Paid,Term_Long_Term,Term_Short_Term,Years_in_current_job_10+_years,Years_in_current_job_1_year,Years_in_current_job_2_years,Years_in_current_job_3_years,Years_in_current_job_4_years,Years_in_current_job_5_years,...,Home_Ownership_Home_Mortgage,Home_Ownership_Own_Home,Home_Ownership_Rent,Purpose_Business_Loan,Purpose_Buy_House,Purpose_Buy_a_Car,Purpose_Debt_Consolidation,Purpose_Home_Improvements,Purpose_Medical_Bills,Purpose_Other
0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [6]:
# Merge one-hot encoded features and drop the originals
loans_df = loans_df.merge(encode_df,left_index=True, right_index=True)
loans_df = loans_df.drop(loans_cat,1)
loans_df.head()

,Current_Loan_Amount,Credit_Score,Annual_Income,Monthly_Debt,Years_of_Credit_History,Months_since_last_delinquent,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,...,Home_Ownership_Home_Mortgage,Home_Ownership_Own_Home,Home_Ownership_Rent,Purpose_Business_Loan,Purpose_Buy_House,Purpose_Buy_a_Car,Purpose_Debt_Consolidation,Purpose_Home_Improvements,Purpose_Medical_Bills,Purpose_Other
0,99999999,741.0,2231892.0,29200.53,14.9,29.0,18,1,297996,750090.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,217646,730.0,1184194.0,10855.08,19.6,10.0,13,1,122170,272052.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,548746,678.0,2559110.0,18660.28,22.6,33.0,4,0,437171,555038.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,99999999,728.0,714628.0,11851.06,16.0,76.0,16,0,203965,289784.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,99999999,740.0,776188.0,11578.22,8.5,25.0,6,0,134083,220220.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [7]:
# Standardize numerical variables using Scikit-learn's StandardScaler class. first split into training and testing sets.

# Remove loan status target from features data
y = loans_df.Loan_Status_Fully_Paid
X = loans_df.drop(columns=["Loan_Status_Fully_Paid","Loan_Status_Not_Paid"])

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [8]:
# the data is now ready for both models 

# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest predictive accuracy: 0.849

In [9]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  24
hidden_nodes_layer2 = 12

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/50
854/854 [==============================] - 1s 789us/step - loss: 0.4363 - accuracy: 0.8253
Epoch 2/50
854/854 [==============================] - 1s 749us/step - loss: 0.3867 - accuracy: 0.8494
Epoch 3/50
854/854 [==============================] - 1s 760us/step - loss: 0.3825 - accuracy: 0.8492
Epoch 4/50
854/854 [==============================] - 1s 764us/step - loss: 0.3806 - accuracy: 0.8494
Epoch 5/50
854/854 [==============================] - 1s 885us/step - loss: 0.3791 - accuracy: 0.8495
Epoch 6/50
854/854 [==============================] - 1s 885us/step - loss: 0.3781 - accuracy: 0.8493
Epoch 7/50
854/854 [==============================] - 1s 1ms/step - loss: 0.3774 - accuracy: 0.8495
Epoch 8/50
854/854 [==============================] - 1s 754us/step - loss: 0.3766 - accuracy: 0.8495
Epoch 9/50
854/854 [==============================] - 1s 786us/step - loss: 0.3755 - accuracy: 0.8495
Epoch 10/50
854/854 [==============================] - 1s 899us/step - loss: 0.3748 - accuracy: 0.8495
Epoch 11/50
854/854 [==============================] - 1s 907us/step - loss: 0.3745 - accuracy: 0.8495
Epoch 12/50
854/854 [==============================] - 1s 903us/step - loss: 0.3741 - accuracy: 0.8496
Epoch 13/50
854/854 [==============================] - 1s 1ms/step - loss: 0.3737 - accuracy: 0.8496
Epoch 14/50
854/854 [==============================] - 1s 869us/step - loss: 0.3729 - accuracy: 0.8497
Epoch 15/50
854/854 [==============================] - 1s 787us/step - loss: 0.3723 - accuracy: 0.8496
Epoch 16/50
854/854 [==============================] - 1s 906us/step - loss: 0.3722 - accuracy: 0.8498
Epoch 17/50
854/854 [==============================] - 1s 905us/step - loss: 0.3715 - accuracy: 0.8499
Epoch 18/50
854/854 [==============================] - 1s 856us/step - loss: 0.3713 - accuracy: 0.8498
Epoch 19/50
854/854 [==============================] - 1s 892us/step - loss: 0.3710 - accuracy: 0.8498
Epoch 20/50
854/854 [==============================] - 1s 821us/step - loss: 0.3706 - accuracy: 0.8502
Epoch 21/50
854/854 [==============================] - 1s 970us/step - loss: 0.3704 - accuracy: 0.8501
Epoch 22/50
854/854 [==============================] - 1s 826us/step - loss: 0.3701 - accuracy: 0.8499
Epoch 23/50
854/854 [==============================] - 1s 945us/step - loss: 0.3698 - accuracy: 0.8502
Epoch 24/50
854/854 [==============================] - 1s 800us/step - loss: 0.3696 - accuracy: 0.8502
Epoch 25/50
854/854 [==============================] - 1s 801us/step - loss: 0.3693 - accuracy: 0.8498
Epoch 26/50
854/854 [==============================] - 1s 835us/step - loss: 0.3691 - accuracy: 0.8503
Epoch 27/50
854/854 [==============================] - 1s 898us/step - loss: 0.3689 - accuracy: 0.8501
Epoch 28/50
854/854 [==============================] - 1s 785us/step - loss: 0.3688 - accuracy: 0.8499
Epoch 29/50
854/854 [==============================] - 1s 785us/step - loss: 0.3682 - accuracy: 0.8504
Epoch 30/50
854/854 [==============================] - 1s 1ms/step - loss: 0.3684 - accuracy: 0.8502
Epoch 31/50
854/854 [==============================] - 1s 846us/step - loss: 0.3679 - accuracy: 0.8499
Epoch 32/50
854/854 [==============================] - 1s 847us/step - loss: 0.3675 - accuracy: 0.8497
Epoch 33/50
854/854 [==============================] - 1s 911us/step - loss: 0.3676 - accuracy: 0.8505
Epoch 34/50
854/854 [==============================] - 1s 774us/step - loss: 0.3674 - accuracy: 0.8499
Epoch 35/50
854/854 [==============================] - 1s 815us/step - loss: 0.3672 - accuracy: 0.8502
Epoch 36/50
854/854 [==============================] - 1s 850us/step - loss: 0.3665 - accuracy: 0.8502
Epoch 37/50
854/854 [==============================] - 1s 782us/step - loss: 0.3668 - accuracy: 0.8506
Epoch 38/50
854/854 [==============================] - 1s 787us/step - loss: 0.3664 - accuracy: 0.8502
Epoch 39/50
854/854 [==============================] - 1s 800us/step - loss: 0.3661 - accuracy: 0.8504
Epoch 40/50
854/854 [==============================] - 1s 772us/step - loss: 0.3659 - accuracy: 0.8503
Epoch 41/50
854/854 [==============================] - 1s 801us/step - loss: 0.3658 - accuracy: 0.8501
Epoch 42/50
854/854 [==============================] - 1s 796us/step - loss: 0.3654 - accuracy: 0.8509
Epoch 43/50
854/854 [==============================] - 1s 806us/step - loss: 0.3655 - accuracy: 0.8506
Epoch 44/50
854/854 [==============================] - 1s 805us/step - loss: 0.3653 - accuracy: 0.8510
Epoch 45/50
854/854 [==============================] - 1s 791us/step - loss: 0.3648 - accuracy: 0.8506
Epoch 46/50
854/854 [==============================] - 1s 799us/step - loss: 0.3651 - accuracy: 0.8505
Epoch 47/50
854/854 [==============================] - 1s 808us/step - loss: 0.3646 - accuracy: 0.8508
Epoch 48/50
854/854 [==============================] - 1s 1ms/step - loss: 0.3641 - accuracy: 0.8512
Epoch 49/50
854/854 [==============================] - 1s 863us/step - loss: 0.3637 - accuracy: 0.8513
Epoch 50/50
854/854 [==============================] - 1s 849us/step - loss: 0.3636 - accuracy: 0.8514
285/285 - 0s - loss: 0.3887 - accuracy: 0.8483
Loss: 0.3886937201023102, Accuracy: 0.8483417630195618